
@media only screen and (min-width: 755px) {
	.new {
		padding: 20px 119px;
		min-height: 700px;
		background: url('https://d.da4.cc/img/snwm.jpg');
		background-size: 100% 100%;

	}
}

h1 {
	text-align: center;
}
.drawer div:nth-child(even){
	display: none;
}
.drawer div span {
	font-size: 2rem;
	font-weight: bolder;
	margin-left: 20px;
}
.drawer div p::before{
	content: "·";
	font-size: 2rem;
}
.drawer div p a {
	color: #000000;
	font-size: 1.5rem;
	font-weight: bolder;
}

.drawer div p a:hover {
	color: white;
}

.drawer div p {
	margin-left: 40px;
	border-radius: 11px;
}

.drawer div p:hover {
	background-color: rgb(81, 81, 245);
}
