
	h1{
		text-align: center;
	}
@media only screen and (min-width:755px) {
	.new {
    padding: 20px;
	display: block;
	overflow: hidden;
	padding: 5px 10%;
    }
	  audio{
		  display: inline-flex;
		  position: relative;
		  height: 2rem;
		  width: 450px;
		  margin-top: 25px;
	  }
	  .new p{
		  font-size: 1.5rem;
		  font-weight: bolder;
	      margin: 20px 0 5px;
	  }
	  .left_mp3,.right_mp3{
		  position: relative;
	  }
	  .left_mp3{
		  float: left;
	  }
	  .right_mp3{
		  float: right;
	  }
	
}
@media only screen and (max-width:755px) {
	.new {
	padding: 20px;
	overflow: hidden;
	}
	 audio{
	  display: inline-flex;
	  position: relative;
	  height: 2rem;
	  width: 350px;
	  margin-top: 25px;
	 }
	.new p{
	  font-size: 1.5rem;
	  font-weight: bolder;
	  margin: 20px 0 5px;
	}
	
}