h3{text-align: center;}
@media screen and (min-width: 755px) {
   body{
	padding: 10px;
	background: #f1f1f1;
	}
  /* 导航条 */
  .topnav {
	position: relative;
    overflow: hidden;
    background-color: rgb(193, 199, 206);
    z-index: 1;
    height: 3.75rem;
    padding: 5px 0;
  }

  /* 导航条链接 */
  .hd {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .html_logo {
    float: left;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    padding: 5px 15px;
  }
  /* 链接颜色修改 */
  .topnav a:hover {
    color: wheat;
  }
/*文章背景*/
  .row {
    height: auto;
    z-index: 1;
	padding: 20px 119px;
	min-height: 1000px;
	background: url('https://d.da4.cc/img/snwm.jpg') ;
	background-size: 100% 100%;
  }
  .sike{
	  background-color: rgba(244,244,244,0.6);
	  font-size: 1.5rem;
	  padding: 10px 60px;
	  border-radius: 11px;
  }
  .gdphone{
	  display: none;
    background-color: white;
    padding: 20px;
    margin-top: 5px;
    z-index: 2;
  }
  /* 创建两列 */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
    z-index: 1;
  }

  /* 右侧栏 */
  .rightcolumn {
    float: left;
    width: 25%;/* 
    background-color: rgba(244,244,244,0.5); */
    padding-left: 20px;
    z-index: 1;
  }

  /* 图像部分 */
  .fakeimg {
    width: 100%;
    padding: 20px;
  }
  /*文章配图*/
  .article_image {
    width: 100%;
    height: 15rem;
    padding: 20px;
    background-color: rgb(214, 200, 200);
    text-align: center;
    font-size: 3.5rem;
  }
  
  /*文章配图*/
  .article_image img{
    width: 100%;
	height: 100%;
  }

  /* 文章卡片效果 文章归档*/
  .card {
	background-color: rgba(244,244,244,0.5);
	border-radius: 11px;
    padding: 20px;
    margin-top: 20px;
    z-index: 2;
  }
  .left_two .card{
	  display: none;
  }
  .right_one .card{
	  margin: 0;
	  padding: 10px;
  }
  .card a{
	  color: #000000;
	  font-size: 1.5rem;
  }

  /* 列后面清除浮动 */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .time_site {
    color: black;
    font-size: 1.15rem;
  }
  .guidang li {
    margin-top: 5px;
  }
  
  .nextphone{
	  display: none;
  }
  #nextphone{
	  display: none;
  }
  .next_button{
	  height: 100%;
	  width: 75%;
	  position: relative;
  }
  .gopre,.gonext{
	  height: 2.75rem;
	  width: 10%;
	  }
  .gopre{
		  margin-left: 5px;
	  }
  .next_button>button:hover{ box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
  .gonext{
	  position:absolute;
	  right: 5px;}
	/* 隐私政策 */
	.new {
	  height: 100%;
	  width: 100%;
	  padding: 20px 119px;
		min-height: 1000px;
		background: url('https://d.da4.cc/img/snwm.jpg') ;
		background-size: 100% 100%;
		color: white;
	}
	/* page_js */
	#pages_js{
		display: flex;
		justify-content: space-around;
	}
}

/*phone*/
@media screen and (max-width: 755px) {
	body{
	background: #f1f1f1;
	}
  /* 导航条 */
  .topnav {
    overflow: hidden;
    background-color: rgb(193, 199, 206);
    z-index: 1;
    height: 3.75rem;
    padding: 5px 0;
  }

  /* 导航条链接 */
  .hd {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .html_logo {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
	padding-left: 15px;
  }
  /* 链接颜色修改 */
  .topnav a:hover {
    color: wheat;
  }
 /*文章内容部分*/
  .row {
    height: auto;
    z-index: 1;
	background: #f1f1f1;
  }
  /* 创建两列 */
  /* Left column */
  .leftcolumn {
	margin: auto;
    width: 97%;
    height: auto;
    z-index: 1;
    display: block;
  }
  
  .sike{
  	  background-color: rgba(244,244,244,0.6);
  	  font-size: 1rem;
  	  padding: 10px ;
  	  border-radius: 11px;
  }

  /* 右侧栏 */
  .rightcolumn {
	  margin: auto;
    width: 97%;
    background-color: #f1f1f1;
    z-index: 1;
    display: block;
  }
  .gdwindow{
	  display: none;
  }
  .gdphone{
	  font-weight: bolder;
	  font-size: 20px;
      background-color: royalblue;
      padding: 2.5px;
	  margin-top: 5px;
	  color: rgba(245, 13, 21, 0.9);
  }
  /* 图像部分 */
  .fakeimg {
    width: 100%;
    padding: 20px;
  }

  /* 文章卡片效果 */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 5px;
    z-index: 2;
  }
  .card a{
	  color: #000000;
	  font-size: 1.6rem;
  }
  
  .next_button{
	  width: 100%;
	  height: 100%;
  }
  #nextwindow{
	  display: none;
  }
  .next_button span{
	  color: #000000;
  }
  .gopre,.gonext{
	  height: 25px;
	  width: 20%;
  }
  .gopre{
	  margin-left: 5px;
  }
  .gonext{
	  right: 10px;
	  position: absolute;
  }
  .gonext1{
	  right: 40px;
	  position: absolute;
  }
  
  /*时间归档*/
  .time_site {
    color: black;
    font-size: 1.15rem;
  }
  .guidang li {
    margin-top: 5px;
  }
  
  /*文章配图*/
  .article_image {
    width: 100%;
    height: 50%;
    padding: 10px;
    background-color: rgb(214, 214, 214);
    text-align: center;
    font-size: 1.25rem;
  }
  /*文章配图*/
  .article_image img{
	  width: 100%;
	  height: 100%;
  }	
  /* 隐私政策 */
	.new {
	  height: 100%;
	  width: 100%;
	  padding: 20px;
		min-height: 1000px;
		background: url('https://d.da4.cc/img/snwm.jpg') ;
		background-size: 100% 100%;
		color: white;
	}
}


