* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: rgba(244, 244, 244, 0.65);
}
a {
  text-decoration: none;
  color: rgba(244, 244, 244, 0.8);
}
body,
html {
  scroll-behavior: smooth;
}
#body_box{
	position: relative;
}
.header {
  background: url("https://d.da4.cc/img/snwm.jpg") no-repeat center ;
  background-size: 100%;
}

#lite_btton {
  height: 30px;
  width: 40px;
}
/* 文章归档列表样式 */
.ararc_title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
span.list_year {
  font-size: 2.1rem;
  font-weight: 600;
  font-style: oblique;
  color: wheat;
}
.ararc_list {
  margin-top: 10px;
  background-color: #393837;
  border-radius: 11px;
  padding: 10px;
  color: wheat;
  opacity: 0.9;
}
.list_down {
  display: none;
}
.list_open {
  font-weight: 500;
}
.mnumber {
	font-size: 1.3rem;
  margin-left: 20px;
  font-weight: 600;
  color: wheat;
}
.daylist {
  display: none;
}
.daylists {
  display: block;
  list-style: none;
  line-height: 2rem;
  text-indent: 2.5rem;
}
.daylists a {
  text-decoration: none;
  color: rgb(38, 130, 221);
  font-weight: bolder;
}
.daylists a li:hover {
  background-color: rgb(148, 171, 194);
}
/*windows 界面css 激活最小宽度为420px*/
@media only screen and (min-width: 755px) {
  body {
    padding: 10px;
  }

  /*头部标题*/
  .header {
    height: 250px;
    width: 100%;
    /*background-color: green;*/
    margin: 0 auto;
    /*
  position: sticky;
  position:-webkit-sticky;
  top: 0;*/
  }

  .top_txt {
    padding: 5.5% 2.5%;
    text-align: center;
    font-size: 30px;
    height: 30%;
    width: 85%;
    margin: 0 auto;
  }

  /* 	.top_txt>a {
		color: wheat;
	} */

  /*这是头部菜单内容*/
  #caidan > div {
    background-color: rgb(193, 199, 206);
  }

  #caidan {
    display: flex;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(193, 199, 206);
  }

  /*这是菜单里的盒子*/
  #box {
    float: left;
    display: flex;
    height: 60px;
    width: 1200px;
    margin: 0 auto;
    color: white;
  }

  /*这是左边logo*/
  .left_logo {
    height: 60px;
    width: 60px;
    text-align: center;
    padding: 5px 0 10px;
  }

  /*中间链接菜单*/
  .center_box {
    display: flex;
    height: 40px;
    margin: 10px auto auto;
    /*上右下左*/
  }

  .center_box a {
    color: white;
  }

  /*当鼠标移动到上方时会改变有颜色属性*/

  /*搜索框 目前牵引到的是百度*/
  #search {
    height: 40px;
    width: 210px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgb(138, 162, 190);
  }

  .search_box {
    height: 25px;
    width: 76%;
    margin: 8px 0 5px 10px;
    border-radius: 5px;
  }

  .search_png {
    height: 16px;
    width: 20px;
  }

  .gdkz {
    font-weight: bolder;
    font-size: 0.8rem;
    color: wheat;
  }
  /* 日历 */
  #calender {
    padding: 10px;
    width: 180px;
  }
  #year {
    background-color: #ee810c;
    padding: 10px;
    font-size: 2rem;
    font-weight: bolder;
    border-radius: 15px 15px 0 0;
  }
  #docu {
    padding: 10px;
    background-color: rgb(160, 205, 213);
    border-radius: 0 0 15px 15px;
    font-weight: bolder;
  }
  #month {
    font-size: 2rem;
    color: rgb(2, 45, 89);
  }
  #days {
    font-size: 3rem;
    text-align: center;
    margin: 15px;
    color: rgba(4, 84, 164, 0.8);
  }
  /* 加载动画 */
  .loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #ffffff;
  }
  .loading .pic {
    width: 64px;
    height: 64px;
    /* background: url(images/loading.gif); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .loading .pic i {
    display: block;
    float: left;
    width: 6px;
    height: 50px;
    margin: 0 2px;
    transform: scaleY(0.4);
    animation: load 1.2s infinite;
  }
  .loading .pic i:nth-child(1) {
    animation-delay: 0.1s;
  }
  .loading .pic i:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading .pic i:nth-child(3) {
    animation-delay: 0.3s;
  }
  .loading .pic i:nth-child(4) {
    animation-delay: 0.4s;
  }
  .loading .pic i:nth-child(5) {
    animation-delay: 0.5s;
  }

  @keyframes load {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
    }
  }
  .ararc {
    padding: 20px;
    font-family: "songti";
  }
}

/*移动端 界面css 激活最大宽度为420px*/
@media only screen and (max-width: 755px) {
  /*头部图片*/
  .header {
    height: 6.25rem;
    width: 100%;
    background-size: cover;
    /*background-color: green;*/
  }

  /*头部标题*/
  .top_txt {
    padding: 2rem 0 0 0;
    text-align: center;
    font-size: 15px;
    height: 2.5rem;
    width: 100%;
    color: rgb(231, 213, 154);
  }

  /*这是头部菜单内容*/
  /*#caidan>div{
    background-color: rgb(193, 199, 206);
  }*/
  #caidan {
    display: flex;
    height: 3.75rem;
    width: 100%;
    background-color: rgb(193, 199, 206);
  }

  /*这是菜单里的盒子*/
  #box {
    display: flex;
    height: 60px;
    width: 100%;
    color: white;
    margin: 0 auto;
  }

  /*这是侧边logo*/
  .left_logo {
    height: 60px;
    width: auto;
    padding: 10px 0 0 10px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  /*中间链接菜单*/
  .center_box {
    display: flex;
    height: 50px;
    width: 60%;
    font-size: 1rem;
    padding-top: 7px;
    margin: auto;
    /*上右下左*/
  }

  .center_box a {
    color: white;
  }

  /*搜索框 目前牵引到的是百度*/
  #search {
    position: absolute;
    right: 10%;
    height: 20px;
    width: 25px;
    padding-top: 20px;
  }

  .search_box {
    display: none;
  }

  .search_png {
    height: 20px;
    width: 25px;
  }
  /* 加载动画 */
  .loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #ffffff;
  }
  .loading .pic {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .loading .pic i {
    display: block;
    float: left;
    width: 6px;
    height: 50px;
    margin: 0 2px;
    transform: scaleY(0.4);
    animation: load 1.2s infinite;
  }
  .loading .pic i:nth-child(1) {
    animation-delay: 0.1s;
  }
  .loading .pic i:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading .pic i:nth-child(3) {
    animation-delay: 0.3s;
  }
  .loading .pic i:nth-child(4) {
    animation-delay: 0.4s;
  }
  .loading .pic i:nth-child(5) {
    animation-delay: 0.5s;
  }

  @keyframes load {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
    }
  }
  /* 文章归档 */
  .ararc {
    font-family: "songti";
  }
  .daylists li {
    font-size: 1rem;
  }
  
}
/* 加载动画 */
.loading .pic i:nth-child(1) {
  animation-delay: 0.1s;
  background: #fedde4;
}
.loading .pic i:nth-child(2) {
  animation-delay: 0.2s;
  background: #ff9fb7;
}
.loading .pic i:nth-child(3) {
  animation-delay: 0.3s;
  background: #ee6784;
}
.loading .pic i:nth-child(4) {
  animation-delay: 0.4s;
  background: #e75777f6;
}
.loading .pic i:nth-child(5) {
  animation-delay: 0.5s;
  background: #ee4163;
}
