@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_rk2ov097jij.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_rk2ov097jij.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_rk2ov097jij.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_rk2ov097jij.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_rk2ov097jij.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_rk2ov097jij.svg#思源黑体-粗") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "PT Serif";
  src: url("https://d.da4.cc/font/PTSerif-Bold.ttf"),
    url("https://d.da4.cc/font/PTSerif-BoldItalic.ttf"),
    url("https://d.da4.cc/font/PTSerif-Italic.ttf"),
    url("https://d.da4.cc/font/PTSerif-Regular.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("https://d.da4.cc/font/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Patrick Hand";
  src: url("https://d.da4.cc/font/PatrickHand-Regular.ttf");
}
@font-face {
  font-family: "Cookie";
  src: url("https://d.da4.cc/font/Cookie-Regular.ttf");
}
@font-face {
  font-family: 'songti';
  src: url('https://d.da4.cc/font/NotoSerifSC-Medium.otf');
}
.pts{
	font-family: "PT Serif"
}
.pac{
	font-family: "Pacifico"
}
.ph{
	font-family: "Patrick Hand"
}
.coker{
  font-family: "Cookie"
}
.st{
	font-family: 'songti';
}